*{
    margin: 0;
    padding: 0;
}
/* Cor padrão das telas */
body{
    background-color: aliceblue;
}
* input:focus-visible{
    outline: none;
}
* textarea:focus-visible{
    outline: none;
}
.content{
    width: 75%; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    border: 1px solid rgb(196, 195, 195);
}
.content .contentTitle{
    margin-top: 2%;
    text-align: center;
    color: black;
    font-style: bold;
    font-family:Nunito Sans, sans-serif;
}
.content .contentText{
    margin: 2%;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.contentTitle:hover{
    color: #006400;
    text-decoration: none;
}
.content .contentAuthor{
    display: block;
    margin-left: 2%;
    margin-bottom: 2%;
}
textarea{
    overflow: hidden;
    font-family:Nunito Sans, sans-serif;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    display: block;
    background-color: aliceblue;
    border: 2px solid black;
    margin-bottom: 10px;
}
/* padrão dos botões pequenos */
.littleButton{
    background-color: #094033;
    color: aliceblue;
    border-radius: 15px;
    border: solid #094033 1px;
    height: 25px;
    width: 70px;
    font-family:Nunito Sans, sans-serif;
    font-weight:bold;
}
.littleButton:hover{
    background-color: #04201a;
    transition: 1s;
    border-color: #031813;
}
/* padrão botões grandes */
.bigButton{
    background-color: #094033;
    color: aliceblue;
    border-radius: 15px;
    border: solid #094033 1px;
    height: 30px;
    width: 200px;
    font-family:Nunito Sans, sans-serif;
    margin-left: 50px;
}
.bigButton:hover{
    background-color:#04201a;
    transition: 1s;
    border-color: #031813;
}
/* inputs */
input{
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    border: solid black 2px;
    height: 30px;
    width: 300px;
    font-family:Nunito Sans, sans-serif;
    margin-bottom: 10px;
    display: block;
}
/* padrão de titulos */
.titles{
    color: black;
    font-size: 30pt;
    font-style: bold;
    font-family:Nunito Sans, sans-serif;
    margin-bottom: 10px;
}
.titles2{
    color: rgb(255, 255, 255);
    font-size: 30pt;
    font-style: bold;
    font-family:Nunito Sans, sans-serif;
    margin-bottom: 10px;
}

/* padrão de textos pequenos */
.texts{
    color: black;
    font-size: 15px;
    font-family:Nunito Sans, sans-serif;
}

.texts2{
    color: white;
    font-size: 15px;
    font-family:Nunito Sans, sans-serif;
}
/* Pagina de registro */
.register{
    background-color: rgb(79, 167, 92);
    display:block;
    width: 320px;
    height: 75%;
}
.edit .register{
    height: 50%;
}
.register a{
    text-decoration:    none;
    color:  white   ;
}
/* Padrão dos botões dos paineis de controle */
.centerTable a {
    text-decoration: none;
    color: white;
}
.centerTable button{
    text-decoration:none;
    background-color:#094033;
    color: white;
    border-radius: 15px;
    border: none;
    font-family:Nunito Sans, sans-serif;
    padding: 9%;
    }
.centerTable button:hover{
    background-color: red;
    transition: 1s;
    border-color: #031813;
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.center a{
    text-decoration: none;
    color: white;
}
.center a:hover
{

}
.centerA{
    margin-top: 2%;
    text-align: center;
}
.centerA a {
    text-decoration: none;
    color:  white;
}
.centerTable{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}
/* padrão de padding */
.padding{
    border-radius: 10px;
    padding: 3%;
}
.header{
    top: 0;
    height: 60px;
    padding: 2% 0 2%;
    width: 100%;
    position: sticky;
    background-color: rgb(79, 167, 92);
}
.header .imgLogo{
    max-width:80%;
    height:auto;
}
.header .imgPerson{
    max-width:10%;
    height:auto;
}
.header nav ul li{
    margin-left: 1%;
    margin-right: 1%;
    width: 17%;
    display: inline-block;
}
.header nav ul{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header p{
    font-family:Nunito Sans, sans-serif;
    display: inline-block;
    color:white;
}
.header button{
    background-color: #094033;
    color: aliceblue;
    padding: 10px;
    border-radius: 15px;
    font-family:Nunito Sans, sans-serif;
    border: none;
}
.header button:hover{
    background-color: #04201a;
    transition: 1s;
    border-color: #031813;
}
table td {
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
thead, tbody{
    display: block;  
}
thead {
	background-color: rgb(2, 24, 9);
	color: white;
}
tbody{
    overflow-y: scroll;
    height: 200px;
} 
th, td {
    width: 70px;
    text-align: center;
    padding: 5px;
}
td{
    border: 1px solid black;
}
table{
    font-family:Nunito Sans, sans-serif;
    border-collapse: collapse;
    border: 1px;
    border-color: black;
}
.footer{
    padding-top: 40px;
    padding-bottom: 100px;
    grid-area: footer;
    background-color: #29ad48;
    display: grid;
    grid-template-areas: 
    "atendimento endereco redesSociais";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    padding-left: 10%;
    gap: 3%;
    justify-content: center;
    text-align: center;
    padding-right: 10%;
  }
.detalheAbaixoFooter{
    grid-area: detalheAbaixoFooter;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #1d7f32;
}
.p1{
    float: left;
}
.p2{
    float: right;
}
/* login  */
.login{
    width: 50%;
    height: 100%;
    background-color:rgb(79, 167, 92);
    position: absolute;
}
.login2{
    background-color: rgb(79, 167, 92);
    border-color: rgb(79, 167, 92) ;
   }
.login3{
    width: 25%;
    height: 100%;
    margin-left: 50%;
    padding-left: 25%;
    position: absolute;
}
.imgLogin{
    width: 40%;
    margin-bottom: 2%;
}
.inputLogin{
    margin-top: 10pt;
    border-color: aliceblue;
}
.inputLogin:hover{
    border-color: #006600;
}
.buttonLogin{
    margin-top: 8pt;
}
.logLogin{
    margin-bottom: 13pt;
}


/*  home */
.headerHome{
    top: 0;
    height: 60px;
    padding: 2% 0 2%;
    width: 100%;
    position: sticky;
    display: block;
    background-color: rgb(79, 167, 92);
}
.imgHome{
    width: 15%;
}
.imgHome2{
    margin-left: 5%;
    margin-top: 7%;
    max-width: 20%;
    float: left;
}
.home{
    color: black;
    text-align: center;
}
.textHome{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family:Nunito Sans, sans-serif;
    margin-top: 20pt;
}
#buttonHome{
    margin-top: 15%;
}
.titleHome{
    margin-bottom: 20pt;
}
.bigButtonHome{
    background-color: #094033 ;
    color: aliceblue;
    border-radius: 15px;
    border: solid  #094033 1px;
    height: 30px;
    width: 200px;
    font-family:Nunito Sans, sans-serif;
    font-size: 13pt;
}
.bigButtonHome:hover{
    background-color: #2a842a;
    transition: 1s;
    border-color:   #2a842a;
}

/*    register  */
.titleRegister{
    display: block;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}
.buttonRegister{
    margin-top: 2%;
}
.titles3{
    color: white;
    font-size: 30px;
    font-style: bold;
    font-family:Nunito Sans, sans-serif;
    margin-bottom: 10px;
}

/*   conteúdos    */
.create1{
    background-color: rgb(79, 167, 92);
    border-color: rgb(79, 167, 92);
    color: white;
    font-size: 12pt;
}



/*   botao painel */

.buttonPainel{
    background-color: #094033;
    color: aliceblue;
    border-radius: 15px;
    border: solid #094033 1px;
    height: 30px;
    width: 200px;
    font-family:Nunito Sans, sans-serif;
    margin-left: 50px;
    text-decoration: none;
}
.buttonPainel:hover{
    background-color:#04201a;
    transition: 1s;
    border-color: #031813;
}
    
/*voltar*/
.voltar{
    background-color: #094033;
    border-radius: 15px;
    border: solid #094033 1px;
    height: 25px;
    width: 70px;
}
.voltar:hover{
    background-color: red;
    transition: 1s;
    border-color: red;
}
.voltar a{
    font-family:Nunito Sans, sans-serif;
    color: aliceblue;
    font-weight:bold;
    text-decoration: none;
}
.edits {
    height: 30px;
    width: 200px;    
}
.showDiv{
    font-family:Nunito Sans, sans-serif;
    margin-top: 7%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.titleShow{
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
}
.textShow{
    font-size: 12pt;
    text-align: justify;
    margin-top: 15%;
    margin-bottom: 10%;
}
.authorShow{
    font-size: 12pt;
    display: block;
    margin-top: 15%;
    margin-bottom: 5%;
}
